body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.web-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right:76px;
}
.studio-logo{
    color: #2e2f42;
}
.logo-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.logo-list:hover,
.logo-list:focus{
    color: #404bbf;
}
.address-logo{
    font-style: normal;
}
.address-list{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-list:hover,
.address-list:focus{
    color: #404bbf;
}
.section-one{
    background-color: #2e2f42;
    padding: 188px 0 188px;
}
.effective-one{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.button-one{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button-one:hover,
.button-one:focus{
    background-color: #404BBF;
}
.hello-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-two{
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}
.text-too{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.teamlist{
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;

}
.text-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.class-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.portfolio-text{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.text-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-app{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-logo{
    background-color: #2e2f42;
    padding: 100px 0;
}
.web-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.studio-footer{
    color: #f4f4fd
}
.text-footer{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
img{
    display: block;
}
.logo-header{
    border-bottom:1px solid #e7e9fc ;
}
.container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.ul-logo{
    display: flex;
    gap: 40px;
}
.ul-list{
    display: flex;
    gap: 40px;
}
.section-dva{
    padding: 120px 0 120px;
}
.ul-section-dva{
    display: flex;
    gap: 24px;
}
.foto-container {
    width: calc((100% - 72px) / 4);
    width calc((100% - 3 * 24px) / 4);
    flex-basis: calc((100% - 3 * 24px) / 4);
    flex-basis: calc((100% - 72px) / 4));
}
.visually-hidden {
    overflow: hidden;
}
.foto-section {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.textname{
    padding: 32px 0 32px;
}
.section-last{
    padding-top: 120px;
    padding-bottom: 120px;
}
.list-sectionfor{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.li-math{
    width: calc((100% - 48px) / 3);
}
.div-math{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.text-three{
    margin-bottom: 8px;
}